﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="display: flex;flex-direction: column;align-items: center;">
    <div style="margin: 3%">
        <label>Login</label>
        <input type="text" id="login" />
    </div>
    <div style="margin: 3%">
        <label>Password</label>
        <input type="text" id="password"/>
    </div>
    <div style ="margin: 3%">
        <input type="button" id="btn_login" value="Login"/>
    </div>
</div>