﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.EntityFrameworkCore
@inject SupermarketAnalyzer.Data.SupermarketDbContext _dbContext;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Supply Page";


    var Supply = _dbContext.ProductsSupplier
        .OrderByDescending(x => x.Id)
        .Take(100)
        .Include(x => x.Category)
        .Include(x => x.Suppliers)
        .ToList();
}

<h1>Supply</h1>

@if (Supply == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Product</th>
                <th>Description</th>
                <th>Count</th>
                <th>Price</th>
                <th>Suppliers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var supply in Supply)
            {
                <tr>
                    <td>@supply.Id</td>
                    <td>@supply.Category.Name</td>
                    <td>@supply.ProductName</td>
                    <td>@supply.Description</td>
                    <td>@supply.Count</td>
                    <td>@supply.Price</td>                    
                    <td>@(string.Join(", ", supply.Suppliers.Select(x => x.SupplierName)))</td>
                </tr>
            }
        </tbody>
    </table>
}
