﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.EntityFrameworkCore
@inject SupermarketAnalyzer.Data.SupermarketDbContext _dbContext;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Sale Page";

    var Products = _dbContext.Products
        .OrderByDescending(x => x.Id)
        .Take(100)
        .Include(x => x.Stores).ToList();
}

<h1>Products</h1>

@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Count</th>
                <th>Store address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.ProductName</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>@product.Count</td>
                    <td>@string.Join(",", product.Stores.Select(x => x.Location))</td>
                </tr>
            }
        </tbody>
    </table>
}