﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Components
@using Microsoft.EntityFrameworkCore
@inject SupermarketAnalyzer.Data.SupermarketDbContext _dbContext;

@{
	Layout = "_Layout";
	ViewData["Title"] = "Statistic";


	var StartDate = DateTime.Today.Date;
	var EndDate = DateTime.Today.Date;
	double result = 0;
}

<div style="display:flex; justify-content: space-around">
	<div>
		<label>Start date:</label>		
		<input type="date" id="start" value="@StartDate.ToString("yyyy-MM-dd")" />
	</div>
	<div>
		<label>End date:</label>		
		<input type="date" id="end" value="@EndDate.ToString("yyyy-MM-dd")" />
	</div>
</div>	
<div style="display:flex; justify-content:space-around">
	<p id="res">
		Profit: @result
	</p>	
</div>