﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.EntityFrameworkCore
@inject SupermarketAnalyzer.Data.SupermarketDbContext _dbContext;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Sold Page";

    var Sold = _dbContext.Sales
            .OrderByDescending(x => x.Id)
            .Take(10)
            .Include(s => s.Customer)
            .Include(s => s.Employee)
            .Include(s => s.Products)
            .ToList();


    
}


<h1>Sold</h1>



<div style="display:flex; justify-content: space-around; flex-direction: row;">
    <p>
        Pay method: <br />
        <select id="pay">
            <option value="Card">Card</option>
            <option value="Cash">Cash</option>
        </select>
    </p>
    <p>
        Date :<br />        
        <input type="date" id="saleDate"/>
    </p>
    <p>
        Employee:<br />
        <select id="emp">
            @foreach (var _person in Sold)
            {
                <option value="@(_person.EmployeeId)">@(_person.Employee.FirstName + " " + _person.Employee.LastName)</option>
            }
        </select>
    </p>
    <p>
        Customer:<br />
        <select id="cust">
            @foreach (var person in Sold)
            {
                <option value="@(person.CustomerId)">@(person.Customer.FirstName.ToString() + " " + person.Customer.LastName.ToString())</option>
            }
        </select>
    </p>
    <p>
        Products: <br />
        <select id="product">
            @foreach (var pr in _dbContext.Products.Take(100))
            {
                <option value="@(pr.Id)">@(pr.ProductName)</option>
            }
        </select>
    </p>

    <p>
        <button onclick="AddSale" id="btnSale">Add</button>
    </p>
</div>





@if (Sold == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pay Method</th>
                <th>Customer</th>
                <th>Employee</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in Sold)
            {
                <tr>
                    <td>@sale.Id</td>
                    <td>@sale.PaymentMethod</td>
                    <td>@sale.SaleDate</td>
                    <td>@(sale.Customer.FirstName + sale.Customer.LastName)</td>
                    <td>@(string.Join(", ", sale.Products.Select(x => x.ProductName)))</td>
                </tr>
            }
        </tbody>
    </table>
}